.loadimages img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.fade-in {
    opacity: 0;
    animation: fade 1.5s ease-in-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

