/* This is for small view */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root{
  --header-bg-color: #bee1b4;
  --menu-bg-color: #2b4721;
  --menu-highlight-color: #caf5ce;
  --body-bg-color: #eef0e9;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

header,
footer,
main {
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}
header,
footer {
  background-color: var(--header-bg-color);
  text-align: center;
  border: 1px solid rgb(244, 244, 244);
  padding: 1rem;
  color: white;
  border-radius: 20px;
}

#siteheader{
  background-color: var(--header-bg-color);
  color: white;
}

#navbar{
  background-color: var(--menu-bg-color);
  color: white;
}

#navbar-active{
  background-color: var(--menu-highlight-color);
}

nav {
  background-color: var(--menu-bg-color);
  max-width: 832px; 
  min-width: 480px;
  margin: 0 auto;
  border: 1px solid black;  
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
  margin-block: 0px;
  width: 100%;  
}

nav ul li {
  border: 1px solid black;
  width: 100%;
  color: white;
  text-align: center;
  
}

nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;    
  color: white;
  font-size: 1.25rem;
}

nav ul li a:hover{
  background-color: var(--menu-highlight-color);
  color: black;
}

h1{
    text-align: center;
}

table{
  border-collapse: collapse;
}

td{
  border: 1px solid black;  
  padding: 1rem;
}

img{
  border: 2px solid black;
}

nav ul li.active a{
  background-color: var(--menu-highlight-color);
}

.active a{  
  color: black;
}

.active{
  background-color: var(--menu-highlight-color);
}

/* Media Query Updates for middle widths */

@media screen and (min-width: 640px) {
  nav ul {
    flex-direction: row;
  }

  nav a {
    padding: .5rem;
    font-size: 1rem;
  }

}  










/* This is for large */
@media screen and (min-width:1000px) {
    
}