@media screen and (min-width:900px) {
    .home {
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(5, 1fr);

    }
    #hero {
        grid-column: 1/4;
    }
    #newrelease {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    #spotlight {
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
    }
    #join {
        display: block;
        grid-column: 1/4;
        grid-row: 4/5;
    }
    .home div {
        height: 200px;
    }
}