@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebecf1;
    color: #b3b9b9;
}

.wrapper{
    width: 800px;
    margin: 50px auto;
}

.links {
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
}

.links ul {
    display: flex;
    justify-content: center;
}

.links ul li{
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;

}

.links ul li:hover {
    color: #4abd3e;
}

